@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --normal-white: 255, 255, 255;
  --primary-black: 51, 51, 51;
  --grey-darkest: 115, 115, 115;
  --grey-medium-darker: 217, 217, 217;
  --grey-medium-lighter: 239, 235, 255;
  --grey-lightest: 250, 250, 250;
  --deep-blue: 99, 60, 255;
  --medium-blue: 190, 173, 255;
  --normal-red: 255, 57, 56
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--grey-lightest))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Instrumental sans';
  src: url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
}